
    <!-- Barra de navegación -->
   
    <app-header></app-header>
    <main>
      <!-- Sección Hero -->
      <app-hero></app-hero>
  
      <!-- Información Rápida -->
      
  <app-info></app-info>
      <!-- Sección Menú -->
       <app-menu></app-menu>
     
      <!-- Sección Eventos -->
     <app-eventos></app-eventos>
  
      <!-- Ubicación -->
      <app-ubicacion></app-ubicacion>
  
      <!-- Reserva -->
      <app-reserva></app-reserva>
    </main>
  
    <!-- Footer -->
    <app-footer></app-footer>