:host {
  display: block;
  width: 100%;
}

[contentEditable="true"] {
  border: 1px dashed transparent;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: text;
  transition: all 0.2s;
}

[contentEditable="true"]:hover, 
[contentEditable="true"]:focus {
  border-color: #c7d2fe;
  background-color: #f5f7ff;
  outline: none;
}

[contentEditable="true"]:focus {
  border-style: solid;
  background-color: #e0e7ff;
}