<div class="flex overflow-x-auto pb-4 mb-8 gap-4 md:gap-8 md:justify-center">
    <a href="menu/#entradas" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-[#E94E1B] hover:text-[#E94E1B] transition-colors">
      Entradas
    </a>
    <a href="menu/#tacos" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-transparent hover:text-[#E94E1B] hover:border-[#E94E1B] transition-colors">
      Tacos
    </a>
    <a href="menu/#platos-fuertes" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-transparent hover:text-[#E94E1B] hover:border-[#E94E1B] transition-colors">
      Platos Fuertes
    </a>
    <a href="menu/#ensaladas" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-transparent hover:text-[#E94E1B] hover:border-[#E94E1B] transition-colors">
      Ensaladas
    </a>
    <a href="menu#postres" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-transparent hover:text-[#E94E1B] hover:border-[#E94E1B] transition-colors">
      Postres
    </a>
    <a href="menu/#bebidas" class="whitespace-nowrap px-4 py-2 text-white font-medium border-b-2 border-transparent hover:text-[#E94E1B] hover:border-[#E94E1B] transition-colors">
      Bebidas
    </a>
  </div>