
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input[type="text"],
input[type="number"],
input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color: #E94E1B;
    outline: none;
}
button {
    padding: 0.5rem 1rem;
    background-color: #481be9;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
button:hover {
    background-color: #d83c0f;
}